@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900');

/* Entire Page */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-color: #ffffff;
    --back-color-b: #e5e7eb;
    --dark-color: #1f2937;
    --light-color: #e5e7eb;
    --light-color-strong: #f9faf8;
    --accent-color: #3882f6;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: var(--dark-color);
    background-color: var(--back-color);
}

section {
    padding: 8vh 10vw;
}

/* Header Navigation */

header {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10vw;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color-strong);
}

nav {
    display: flex;
    gap: 1.5em;
}

nav a {
    color: var(--light-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--light-color-strong);
}

/* Welcome Section */

#welcome {
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    max-height: 100vh;
}

#welcome .blurb-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#welcome h1 {
    color: var(--light-color-strong);
    font-size: 36px;
    font-weight: 900;
}

#welcome button {
    color: var(--light-color-strong);
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 10em;
    cursor: pointer;
}

#welcome .image-wrapper {
    flex: 1;
}

#welcome .image-wrapper img {
    width: 100%;
    display: block;
}

/* Info Section */

#info h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5vh;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
}

.info-card {
    font-size: 16px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-align: center;
}

.info-card img {
    display: block;
    width: 16vw;
    height: 16vw;
    object-fit: cover;
    border-radius: 5px;
}

/* Testimonial Section */

#testimonial {
    background-color: var(--back-color-b);
}

/* Sign Up Section */

/* Footer */

footer {
    color: var(--light-color);
    background-color: var(--dark-color);
    text-align: center;
    padding: 1.5em;
}